TestWebApplication/Web References/BlogPostService/BlogPostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBlogPostIDFromSubjectText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blogPostWithSubject" type="tns:BlogPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BlogPost">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BlogPostID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Teaser" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DatePosted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PostedBy" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlDisplay" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBlogPostIDFromSubjectTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogPostIDFromSubjectTextResult" type="tns:BlogPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBlogPostIDFromSubjectTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogPostIDFromSubjectText" />
  </wsdl:message>
  <wsdl:message name="GetBlogPostIDFromSubjectTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogPostIDFromSubjectTextResponse" />
  </wsdl:message>
  <wsdl:portType name="BlogPostServiceSoap">
    <wsdl:operation name="GetBlogPostIDFromSubjectText">
      <wsdl:input message="tns:GetBlogPostIDFromSubjectTextSoapIn" />
      <wsdl:output message="tns:GetBlogPostIDFromSubjectTextSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogPostServiceSoap" type="tns:BlogPostServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlogPostIDFromSubjectText">
      <soap:operation soapAction="http://tempuri.org/GetBlogPostIDFromSubjectText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlogPostServiceSoap12" type="tns:BlogPostServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlogPostIDFromSubjectText">
      <soap12:operation soapAction="http://tempuri.org/GetBlogPostIDFromSubjectText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogPostService">
    <wsdl:port name="BlogPostServiceSoap" binding="tns:BlogPostServiceSoap">
      <soap:address location="http://localhost:3815/BlogPostService.asmx" />
    </wsdl:port>
    <wsdl:port name="BlogPostServiceSoap12" binding="tns:BlogPostServiceSoap12">
      <soap12:address location="http://localhost:3815/BlogPostService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>